<h1>To Do App</h1>

<p>Here are all your tasks:</p>

<ul>
  <% @tasks.not_done().each do |task| %>
  <li><%= task.description %></li>
  <% end %>
</ul>

<% if @lists.any?() %>

  <ul>
    <% @lists.each() do |list| %>
    <li><a href="/list/<%= list.id() %>"><%= list.name() %></a></li>
    <% end %>
  </ul>

<% else %>

  <h3>You have no lists yet!</h3>

<% end %>

<h3>Add a new list:</h3>
<form action="/lists/new" method="post">
  <label for="name">Name:</label>
  <input type="text" name="name" id="name">

  <button type="submit" class="btn btn-primary btn-sm">Add list</button>
</form>

<% @tasks.each() do |task| %>
  <li><%= task.description %> <a href="/tasks/<%= task.id() %>/edit">Update this task's description</a></li>
<% end %>
